# Django settings
DEBUG=True
SECRET_KEY=change-this-in-production
ALLOWED_HOSTS=127.0.0.1,localhost

# Database (MySQL)
DB_NAME=zinda_store_db
DB_USER=ameer
DB_PASSWORD=rootameer
DB_HOST=127.0.0.1
DB_PORT=3306
